@import "src/styles";

.main {
  width: 100%;
  background-color: $color-green;
  padding: 10px 0;

  .logo_languages {
    display: flex;
    justify-content: space-between;

    .container {
      width: 1280px;
      max-width: 1400px;
      margin: 0 auto;

      .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;

        .icon_logo {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          cursor: pointer;

          img {
            width: 41.61px;
            height: 37.97px;
            object-fit: cover;

          }

          span {
            width: 110px;
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: rgba(255, 255, 255, 0.85);
            margin-top: 3.89px;
          }
        }
      }
    }
  }

  .languages {
    margin-right: 8px;
    position: absolute;
    top: 0;
    right: 0;

    .btn_languages {
      background-color: transparent;
      border: none;
      margin: 6px 6px 0 0;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      text-transform: capitalize;
      color: #F8F8F8;
      cursor: pointer;

    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
      width: 1280px;
      margin: 0 auto;

      .content_menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .ul_menu {
          width: 100%;
          display: flex;
          justify-content: center;

          ul {
            padding: 0;

            .li_menu {
              list-style-type: none;
              display: inline-block;

              .link_menu {
                text-decoration: none;
                font-family: 'Assistant';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.85);

              }

              .active {
                padding: 0 0 10px;
                border-bottom: 2px solid #F8F8F8;
              }
            }

            .li_menu:nth-child(-n+4) {
              margin-right: 48px;
            }
          }
        }

        .sign_in {
          display: flex;
          width: 10%;
          justify-content: flex-end;
          align-items: center;
          cursor: pointer;
          position: absolute;
          top: 17px;
          right: 0;
          a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              margin-right: 8px;
            }

            span {
              font-family: 'Assistant';
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 24px;
              text-transform: capitalize;
              color: #F8F8F8;
            }
          }
        }

      }
    }

  }
}
