<div class="main">
  <div class="container">
    <div class="content-page-recover-password">
        <div class="content-form-recover-password">
          <div class="div-close-icon">
            <a routerLink="/sign-up">
              <img src="../../../assets/Images/icon-close.png" alt="Nno image">
            </a>
          </div>
          <h2>{{translate.translate.title_recover_password}}</h2>
          <p>{{translate.translate.subtitle_recover_password}}</p>
          <form [formGroup]="form_recover_password">
            <div class="div-input-email-rec-pass" >
              <span *ngIf="form_recover_password.controls.email.hasError('required') && form_recover_password.controls.email.touched">
                Email is required
              </span>
              <span *ngIf="form_recover_password.controls.email.hasError('pattern')">
                {{translate.translate.error_email}}
              </span>
              <input formControlName="email"
                [ngClass]="{'borderError': form_recover_password.controls.email.hasError('required') && form_recover_password.controls.email.touched || form_recover_password.controls.email.hasError('pattern')}"
                type="email" placeholder="{{translate.translate.placeholder_email_rec_pass}}">
            </div>
            <div class="div-button-send-rec-pass">
              <button>
                <a href="#">
                  {{translate.translate.btn_send_rec_pass}}
                </a>
              </button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
