<div class="main">
  <div class="container">
    <div class="content-page-recover-password">
        <div class="content-form-recover-password">
          <div class="div-close-icon">
            <a routerLink="/sign-up">
              <img src="assets/Images/icon-close.png" alt="Nno image">
            </a>
          </div>
          <h2>{{request.translate.title_recover_password}}</h2>
          <p>{{request.translate.subtitle_recover_password}}</p>
          <form>
            <div class="div-input-email-rec-pass">
              <input type="email" placeholder="{{request?.translate?.placeholder_email_rec_pass}}">
            </div>
            <div class="div-button-send-rec-pass">
              <button>
                <a href="#">
                  {{request.translate.btn_send_rec_pass}}
                </a>
              </button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
