@import "../../../styles";

.main {
  width: 100%;
  background-color: #F8F8F8;

  .container {
    width: 1280px;
    margin: 0 auto;

    .content-page-donors {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .div-form-sign-up-donors {
        width: 432px;
        background: #F8F8F8;
        box-shadow: 0 1px 24px rgba(61, 61, 61, 0.18);
        border-radius: 20px;
        padding: 0 16px;
        margin-bottom: 40px;

        h2 {
          margin: 32px 0 16px;
          font-family: $font-family-assistant;
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 24px;
          text-align: center;
          text-transform: capitalize;
          color: #194866;
        }

        p {
          margin: 0 0 16px;
          padding-bottom: 16px;
          border-bottom: 0.5px solid rgba(25, 72, 102, 0.5);
          font-family: $font-family-assistant;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          color: $color-biscay;
        }

        form {
          div:nth-child(-n+7) {
            margin-bottom: 16px;
          }
        }

        ::ng-deep .multiselect-dropdown .dropdown-btn {
          border: 0.5px solid rgba(25, 72, 102, 0.8);
          border-radius: 10px;
          padding: 12px 44px 12px 12px;

        }

        ::ng-deep .dropdown-multiselect__caret {
          display: none;
        }

        ::ng-deep .dropdown-list {
          svg {
            color: $color_biscay;
          }

          ul.item1 {
            li:first-child {
              display: none;
            }
          }
        }

        input {
          border: 0.5px solid rgba(25, 72, 102, 0.8);
          padding: 16px 44px 16px 16px;
        }

        input::placeholder {
          font-family: $font-family-assistant;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $color-biscay;
        }

        button {
          background: $color-shamrock;
          border-radius: 10px;
          border: none;

          a {
            font-family: $font-family-assistant;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF !important;
            text-decoration: none !important;
            display: inline-block;
            padding: 17px 39px;
          }
        }

        ::ng-deep .dropdown-btn {
          font-family: $font-family-assistant;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $color-biscay;
        }

        .div-form-reg-donors {

          .div-inputs-name-lastname-donors {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            position: relative;
            .borderError{
              border: 0.5px solid  $color-monza;;
            }
            ::ng-deep .ng-valid{
              border: 0.5px solid  $color-shamrock;;
            }
            .error_name_donors{
              position: absolute;
              z-index: 4;
              top: -12px;
              left: 14px;
              font-family: $font-family-assistant;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: $color-monza;
              background-image: linear-gradient(#F8F8F8, white);
            }
            .error_last_name_donors{
              position: absolute;
              z-index: 4;
              top: -12px;
              right: 53px;
              font-family: $font-family-assistant;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: $color-monza;
              background-image: linear-gradient(#F8F8F8, white);
            }
            input {
              width: 48%;
              border-radius: 10px;
            }
          }

          .div-input-email-donors {
            width: 100%;
            position: relative;

            input {
              width: 100%;
              border-radius: 10px;
            }
            ::ng-deep .ng-valid{
              border: 0.5px solid  $color-shamrock;;
            }
            span{
              position: absolute;
              z-index: 4;
              top: -12px;
              left: 14px;
              font-family: $font-family-assistant;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: $color-monza;
              background-image: linear-gradient(#F8F8F8, white);
            }
            .borderError{
              border: 0.5px solid $color-monza;
            }
          }

          .div-phone-number-select {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            span{
              font-family: $font-family-assistant;
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 24px;
              color: $color-monza;
              position: absolute;
              top: -12px;
              left: 14px;
              background-image: linear-gradient(#F8F8F8, white);
              z-index: 100;
            }
            ::ng-deep .ng-valid{
              border: 0.5px solid  $color-shamrock;;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }

            .div-select-short-code-number {
              width: 35%;
              position: relative;
              margin: 0;


              select {
                padding: 16px 16px 16px;
                border: 0.5px solid rgba(25, 72, 102, 0.8);
                border-radius: 10px 0 0 10px;
                width: 100%;
                appearance: none;
                font-family: $font-family-assistant;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $color_biscay;
              }

              .borderErrorRegion{
                border: 0.5px solid $color-monza;
              }

              .ng-valid.ng-touched{
                border: 0.5px solid $color-shamrock;
              }

              img {
                position: absolute;
                top: 26px;
                left: 115px;
              }

            }

            .div-input-number-donors {
              width: 65%;
              margin: 0;

              input {
                border-radius: 0 10px 10px 0;
                width: 100%;
              }
              .borderError{
                border: 0.5px solid $color-monza;
              }
            }

          }

          .div-country-reg-donors {
            position: relative;
            span {
              position: absolute;
              z-index: 4;
              top: -12px;
              left: 14px;
              font-family: $font-family-assistant;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: $color-monza;
              background-image: linear-gradient(#F8F8F8, white);
            }
            ::ng-deep .selected-item {
              border: 1px solid $color-shamrock;
              margin-right: 4px;
              background: $color-shamrock;
              padding: 0 5px;
              color: #fff;
              border-radius: 2px;
              float: left;
              display: flex;
              max-width: 100px;
            }

            ::ng-deep .ng-valid {
              .dropdown-btn {
                border: 0.5px solid $color-shamrock;
              }
            }
            ::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:before {
              left: 95%;
              padding: 0 !important;
              background: rgba(25, 72, 102, 0.2);
              border-color: rgba(25, 72, 102, 0.2);
              display: none;
            }

            ::ng-deep .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
              border-color: $color-shamrock;
              background: $color-shamrock;
              display: none;
            }

            ::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:after {
              left: 96%;
              border-color: #FFFFFF;
              display: none;
            }

            img {
              position: absolute;
              top: 22px;
              right: 15px;
            }
            .errorCountry{
              ::ng-deep .dropdown-btn {
                border: 0.5px solid $color-monza !important;

              }
            }
          }

          .div-region-reg-donors {
            position: relative;
            span {
              position: absolute;
              z-index: 4;
              top: -12px;
              left: 14px;
              font-family: $font-family-assistant;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: $color-monza;
              background-image: linear-gradient(#F8F8F8, white);
            }
            ::ng-deep .selected-item {
              border: 1px solid $color-shamrock;
              margin-right: 4px;
              background: $color-shamrock;
              padding: 0 5px;
              color: #fff;
              border-radius: 2px;
              float: left;
              display: flex;
              max-width: 100px;
            }

            ::ng-deep .ng-valid {
              .dropdown-btn {
                border: 0.5px solid $color-shamrock;
              }
            }

            ::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:before {
              left: 95%;
              padding: 0 !important;
              background: rgba(25, 72, 102, 0.2);
              border-color: rgba(25, 72, 102, 0.2);
              display: none;
            }

            ::ng-deep .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
              border-color: $color-shamrock;
              background: $color-shamrock;
              display: none;
            }

            ::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:after {
              left: 96%;
              border-color: #FFFFFF;
              display: none;
            }

            img {
              position: absolute;
              top: 22px;
              right: 15px;
            }
            .errorRegion{
              ::ng-deep .dropdown-btn {
                border: 0.5px solid $color-monza !important;

              }
            }

          }

          .div-city-reg-donors {
            position: relative;
            span {
              position: absolute;
              z-index: 4;
              top: -12px;
              left: 14px;
              font-family: $font-family-assistant;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: $color-monza;
              background-image: linear-gradient(#F8F8F8, white);
            }
            ::ng-deep .selected-item {
              border: 1px solid $color-shamrock;
              margin-right: 4px;
              background: $color-shamrock;
              padding: 0 5px;
              color: #fff;
              border-radius: 2px;
              float: left;
              display: flex;
              max-width: 100px;
            }

            ::ng-deep .ng-valid {
              .dropdown-btn {
                border: 0.5px solid $color-shamrock;
              }
            }

            ::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:before {
              left: 95%;
              padding: 0 !important;
              background: rgba(25, 72, 102, 0.2);
              border-color: rgba(25, 72, 102, 0.2);
              display: none;
            }

            ::ng-deep .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
              border-color: $color-shamrock;
              background: $color-shamrock;
              display: none;
            }

            ::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:after {
              left: 96%;
              border-color: #FFFFFF;
              display: none;
            }

            img {
              position: absolute;
              top: 22px;
              right: 15px;
            }
            .errorCity{
              ::ng-deep .dropdown-btn {
                border: 0.5px solid $color-monza !important;

              }

            }
            .ng-valid {
              border: 0.5px solid $color-shamrock;
            }

          }

          .div-password-reg-donors {
            width: 100%;
            position: relative;


            input {
              width: 100%;
              border: 0.5px solid rgba(25, 72, 102, 0.8);
              border-radius: 10px;


            }

            span{
              position: absolute;
              z-index: 4;
              top: -12px;
              left: 14px;
              font-family: $font-family-assistant;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: $color-monza;
              background-image: linear-gradient(#F8F8F8, white);
            }

            button {
              background-color: transparent;
              border: none;
              position: absolute;
              top: 9px;
              right: 13px;
            }
            .borderError{
              border: 0.5px solid $color-monza;
            }

            .ng-valid {
              border: 0.5px solid $color-shamrock;
            }
          }

          .div-confirm-password-reg-donors {
            width: 100%;
            position: relative;

            input {
              width: 100%;
              border: 0.5px solid rgba(25, 72, 102, 0.8);
              border-radius: 10px;
            }
            ::ng-deep .ng-valid {
              border: 0.5px solid #34C88A;
            }
            span{
              position: absolute;
              z-index: 4;
              top: -12px;
              left: 14px;
              font-family: $font-family-assistant;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: $color-monza;
              background-image: linear-gradient(#F8F8F8, white);
            }

            button {
              background-color: transparent;
              border: none;
              position: absolute;
              top: 9px;
              right: 13px;
            }
            .borderError{
              border: 0.5px solid $color-monza;
            }
            .ng-valid {
              border: 0.5px solid $color-shamrock;
            }

          }

          .div-button-reg-as {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 84px 0 24px;

            a {
              font-family: $font-family-assistant;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              text-decoration-line: underline;
              color: $color-shamrock;
            }
          }
        }
      }

    }

  }
  .content-verify-account-page {
    width: 100%;
    margin-bottom: 40px;

    .content-verify {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;


      .div-form-verify {
        width: 432px;
        background: #F8F8F8;
        box-shadow: 0 1px 24px rgba(61, 61, 61, 0.18);
        border-radius: 20px;
        padding: 0 16px;

        .div-icon-close {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin: 16px 0 5px;
        }

        h2 {
          margin: 0;
          font-family: $font-family-assistant;
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 35px;
          text-align: center;
          text-transform: capitalize;
          color: $color-biscay;

        }

        p {
          margin: 16px 0;
          padding-bottom: 16px;
          border-bottom: 0.5px solid rgba(25, 72, 102, 0.5);
          font-family: $font-family-assistant;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          color: $color-biscay;
        }

        .div-input-code-verify {
          width: 100%;

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          input {
            padding: 16px 44px 16px 16px;
            border: 0.5px solid rgba(25, 72, 102, 0.8);
            border-radius: 10px;
            width: 100%;
          }

          input::placeholder {
            font-family: $font-family-assistant;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $color-biscay;
          }
        }

        .div-btn-ok-verify {
          margin: 332px 0 24px;
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            background-color: $color-shamrock;
            border-radius: 10px;
            width: 100%;
            border: none;

            a {
              display: inline-block;
              padding: 12px 165px;
              text-decoration: none;
              font-family: $font-family-assistant;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              color: #FFFFFF;

            }
          }
        }
      }
    }
  }

  ::ng-deep .mat-step-icon-content {
    display: none;
  }

  ::ng-deep .mat-stepper-horizontal-line {
    display: none;
  }

  ::ng-deep .mat-step-icon {
    background-color: rgba(52, 200, 138, 0.25);
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  ::ng-deep .mat-step-icon-selected, ::ng-deep .mat-step-icon-state-edit {
    background-color: $color-shamrock;
  }

  ::ng-deep .mat-stepper-header-position-bottom .mat-horizontal-stepper-header-container {
    width: 300px !important;
    margin: 0 auto;
  }
  .mat-stepper-next:disabled{
    opacity: 0.5;
  }
}
@media screen and (max-width: 1320px){
  .container{
    width: 98% !important;
    padding: 0 !important;
  }

}
@media screen and (max-width: 768px) {
  ::ng-deep .dropdown-btn{
    padding: 8px 10px !important;
  }

}
@media screen and (max-width: 550px){
  input{
    padding: 8px 40px 8px 5px !important;
  }
  input::placeholder{
    font-size: 14px !important;
  }
  select{
    padding: 8px 5px 8px 5px !important ;
  }
  .div-phone-number-select{
    .div-select-short-code-number{
      img{
        top: 19px !important;
        left: 90px !important;
      }
    }
    .div-select-short-code-number{
      width: 40%;
      select{
        width: 100%;
      }
    }
    .div-button-reg-as{
      a{
        font-size: 15px !important;
      }
    }
  }
  .div-inputs-name-lastname-donors,
  .div-input-email-donors,
  .div-phone-number-select,
  .div-country-reg-donors,
  .div-region-reg-donors,
  .div-city-reg-donors,
  .div-password-reg-donors,
  .div-confirm-password-reg-donors{
    span{
      font-size: 10px !important;
    }
  }
  .div-button-reg-as{
    button{
      padding: 0 !important;
    }
    a{
      font-size: 15px !important;
    }
  }
  .div-form-sign-up-donors {
    button{
      a{
        font-size: 15px !important;
      }
    }
    a:last-child {
      padding: 12px 35px !important;
    }
  }
  .error_last_name_donors{
    right: 50px !important;
  }
  .div-btn-ok-verify {
    margin-top: 250px !important;
    button{
      a{
        padding: 8px 0 !important;
        width: 100% !important;
      }
    }
  }
  .content-verify{
    .div-form-verify{
      width: auto !important;
    }
  }
  .div-password-reg-donors {
    button{
      top: 5px !important;
    }

  }
  .div-confirm-password-reg-donors{
    button{
      top: 5px !important;
    }
  }
  .show{
    width: 15px;
    object-fit: cover;
  }
}
@media screen and (max-width: 400px){
  .div-select-short-code-number{
    width: 55% !important;

  }
}
