<div class="main">
  <div class="container">
  <div class="stepper">
    <div class="container">
     <div class="div-mat-stepper">
       <mat-stepper headerPosition="bottom">
         <mat-step>
               <div class="content-sign-up-page">
                 <div class="content-form">
                   <h2 class="title">{{request.translate.title_sign_up}}</h2>
                   <p class="subtitle">{{request.translate.subtitle}}</p>
                   <form [formGroup]="form_sign_up">
                     <div class="div-inputs-name-lastname">
                       <input [ngClass]="{'borderError': form_sign_up.controls.name?.hasError('required')}" type="text" placeholder="{{request.translate.placeholder_name}}" formControlName="name">
                       <span class="error_name" [ngClass]="{'showErrorName': form_sign_up.controls.name?.hasError('required')}">{{request.translate.error_name}}</span>
                       <input [ngClass]="{'borderError': form_sign_up.controls.last_name?.hasError('required')}" type="text" placeholder="{{request.translate.placeholder_last_name}}" formControlName="last_name">
                       <span class="error_last_name" [ngClass]="{'showErrorLastName': form_sign_up.controls.last_name?.hasError('required')}">{{request.translate.error_last_name}}</span>
                     </div>
                     <div class="div-input-email">
                       <input [ngClass]="{'borderError': form_sign_up.controls.email?.hasError('pattern')}" type="email" placeholder="{{request.translate.placeholder_email}}" formControlName="email">
                       <span [ngClass]="{'showErrorEmail': form_sign_up.controls.email?.hasError('pattern')}">{{request.translate.error_email}}</span>
                     </div>
                     <div class="div-input-phone">
                       <input type="number" placeholder="{{request.translate.placeholder_short_code_phone}}" formControlName="phone_short_code">
                       <input type="number" placeholder="{{request.translate.placeholder_phone_number}}" formControlName="phone_number">
                     </div>
                     <div class="div-input-region">
                       <select>
                         <option hidden>{{request.translate.placeholder_region}}</option>
                         <option>{{request.translate.region_sh}}</option>
                         <option>{{request.translate.region_ar}}</option>
                         <option>{{request.translate.region_ge}} </option>
                         <option>{{request.translate.region_lo}} </option>
                         <option>{{request.translate.region_sy}}</option>
                         <option>{{request.translate.region_v_dz}}</option>
                       </select>
                       <img src="assets/Images/vector_bottom.png" alt="No image">
                     </div>
                     <div class="div-input-city">
                       <ng-multiselect-dropdown
                         [placeholder]=request.translate.placeholder_city_or_village
                         [settings]="dropdownSettings"
                         [data]="citiesList"
                         (onSelect)="onItemSelect($event)"
                         (onSelectAll)="onSelectAll($event)"
                       >
                       </ng-multiselect-dropdown>
                       <img src="assets/Images/vector_bottom.png" alt="No image">
                     </div>
                     <div class="div-input-school">
                       <ng-multiselect-dropdown
                         [placeholder]=request.translate.placeholder_school
                         [settings]="dropdownSettings"
                         [data]="schoolList"
                         (onSelect)="onItemSelect($event)"
                         (onSelectAll)="onSelectAll($event)"
                       >
                       </ng-multiselect-dropdown>
                       <img src="assets/Images/vector_bottom.png" alt="No image">
                     </div>
                     <div class="div-input-subject">
                       <ng-multiselect-dropdown
                         [placeholder]=request.translate.placeholder_subject
                         [settings]="dropdownSettings"
                         [data]="subjectsList"
                         (onSelect)="onItemSelect($event)"
                         (onSelectAll)="onSelectAll($event)"
                       >
                       </ng-multiselect-dropdown>
                       <img src="assets/Images/vector_bottom.png" alt="No image">
                     </div>
                     <div class="div-input-grade">
                       <ng-multiselect-dropdown
                         [placeholder]=request.translate.placeholder_grade
                         [settings]="dropdownSettings"
                         [data]="gradeList"
                         (onSelect)="onItemSelect($event)"
                         (onSelectAll)="onSelectAll($event)"
                       >
                       </ng-multiselect-dropdown>
                       <img src="assets/Images/vector_bottom.png" alt="No image">
                     </div>
                     <div class="div-input-password">
                       <input [ngClass]="{'borderError': form_sign_up.controls.pass?.hasError('minlength')}" [type]="password" placeholder="{{request.translate.placeholder_password}}" formControlName="pass">
                       <span class="error_password" [ngClass]="{'showErrorPassword': form_sign_up.controls.pass?.hasError('minlength')}">{{request.translate.error_password}}</span>
                       <button type="button" (click)="onClickPassword()">
                         <img src="assets/Images/hidePassword.png" aria-hidden="true" *ngIf="!show" alt="No images" class="show">
                         <img src="assets/Images/showPassword.png" aria-hidden="true" *ngIf="show" alt="No images" class="show">
                       </button>
                     </div>
                     <div class="div-input-confirm-password">
                       <input [ngClass]="{'borderError': form_sign_up.controls.confirm_pass?.hasError('pattern')}" [type]="confirmPassword" placeholder="{{request.translate.placeholder_confirm_password}}" formControlName="confirm_pass">
                       <span class="error_confirm_password" [ngClass]="{'showErrorConfirmPassword': form_sign_up.controls.confirm_pass?.hasError('pattern')}">{{request.translate.error_confirm_password}}</span>
                       <button type="button" (click)="onClickConfirmPassword()">
                         <img src="assets/Images/hidePassword.png" aria-hidden="true" *ngIf="!show_confirm" alt="No images" class="show">
                         <img src="assets/Images/showPassword.png" aria-hidden="true" *ngIf="show_confirm" alt="No images" class="show">
                       </button>
                     </div>
                     <div class="div-button-ok">
                       <a routerLink="/sign-up-donors">{{request.translate.reg_as_donor}}</a>
                       <button matStepperNext>{{request.translate.btn_ok}}</button>
                     </div>
                   </form>
                 </div>
               </div>
         </mat-step>
         <mat-step>
           <div class="content-verify-account-page">
               <div class="content-verify">
                 <div class="div-form-verify">
                    <div class="div-icon-close">
                      <a href="#">
                        <img src="assets/Images/icon-close.png" alt="No image">
                      </a>
                    </div>
                   <h2>{{request.translate.title_verify_account}}</h2>
                   <p>{{request.translate.subtitle_verify_account}}</p>
                   <div class="div-input-code-verify">
                     <input type="number" placeholder="{{request.translate.placeholder_code_verify}}">
                   </div>
                   <div class="div-btn-ok-verify">
                     <button>
                       <a href="#">
                         {{request.translate.btn_ok_verify}}
                       </a>
                     </button>
                   </div>
                 </div>
               </div>
           </div>
         </mat-step>
         <mat-step label="" state="">
           <div>
             <button mat-button matStepperPrevious>Back</button>
             <button mat-button matStepperNext>Next</button>
           </div>
         </mat-step>
         <mat-step label="" state="">
           <div>
             <button mat-button matStepperPrevious>Back</button>
             <button mat-button matStepperNext>Next</button>
           </div>
         </mat-step>
         <mat-step label="" state="">
           <div>
             <button mat-button matStepperPrevious>Back</button>
             <button mat-button matStepperNext>Next</button>
           </div>
         </mat-step>
       </mat-stepper>
     </div>
    </div>
  </div>
  </div>
</div>
