@import "../../../styles";

.contactUs {
  &__title {
    text-align: center;
    font-family: $font-family-assistant;
    font-size: 60px;
    margin-top: 25px;
    color: $color-biscay;
  }
}
@media screen and (max-width: 1320px){
  .container{
    width: 98% !important;
  }
}

